venv
venv311
Modelo_red_neuronal/Fotogramas
Modelo_red_neuronal/Modelos/model_normal_alerta.tflite
Modelo_red_neuronal/Fotogramas.zip
Modelos_OpenCV/Imagenes_entrenamiento
Modelos_OpenCV/Modelos
Otros_recursos
Puntos_faciales/Imagenes_con_malla
Puntos_faciales/JSON_de_imagenes
Puntos_faciales/Modelos_pf/model_estable_inestable_478_landmarks.h5
Videos
estado.csv
